In [1]:
from sqlalchemy.engine import URL
from sqlalchemy import create_engine, text, MetaData, Table

db_url = URL.create(
    drivername="mysql+pymysql",
    username="teamx",
    password="#C!D123^-c12",
    host="112.125.88.107",
    port=5906,
    database="TeamX_BIGAI",
    query={"charset": "utf8mb4"},
)

# db_url = URL.create(
#     drivername="mysql+pymysql",
#     username="agentictrl",
#     password="`1qaz~!QAZ",
#     host="112.125.88.107",
#     port=5906,
#     database="BIGAI",
#     query={"charset": "utf8mb4"},
# )

engine = create_engine(db_url, pool_pre_ping=True)

In [2]:

metadata = MetaData()

# ÂèçÂ∞ÑÂÖ®ÈÉ®Ë°®ÁªìÊûÑ
metadata.reflect(bind=engine)

print("Êï∞ÊçÆÂ∫ì BIGAI ÂåÖÂê´‰ª•‰∏ãË°®Ôºö")
for tbl in metadata.sorted_tables:
    print(f"\nüóÇ  Ë°®Ôºö{tbl.name}")
    for col in tbl.columns:
        print(f"   - {col.name} ({col.type}) {'PK' if col.primary_key else ''}")

Êï∞ÊçÆÂ∫ì BIGAI ÂåÖÂê´‰ª•‰∏ãË°®Ôºö

üóÇ  Ë°®Ôºöcheckpoint
   - id (BIGINT) PK
   - name (VARCHAR(50))
   - version (VARCHAR(50))
   - run_id (VARCHAR(191))
   - status (VARCHAR(20))
   - path (VARCHAR(255))
   - source (VARCHAR(50))
   - operator (VARCHAR(50))
   - remark (VARCHAR(1024))
   - config_yaml (TEXT)
   - created_at (TIMESTAMP)
   - updated_at (TIMESTAMP)
   - deleted_at (TIMESTAMP)
   - started_at (TIMESTAMP)
   - finished_at (TIMESTAMP)

üóÇ  Ë°®Ôºöcurrent_model
   - id (BIGINT) PK
   - checkpoint_id (BIGINT)
   - version (VARCHAR(50))
   - path (VARCHAR(255))
   - status (VARCHAR(20))
   - created_at (TIMESTAMP)
   - updated_at (TIMESTAMP)
   - activated_by (VARCHAR(50))
   - remark (VARCHAR(1024))

üóÇ  Ë°®Ôºödataset_usage_events
   - id (BIGINT) PK
   - trajectory_id (VARCHAR(128) COLLATE "utf8mb4_unicode_ci")
   - run_id (VARCHAR(128) COLLATE "utf8mb4_unicode_ci")
   - model_version (VARCHAR(512) COLLATE "utf8mb4_unicode_ci")
   - used_delta (INTEGER)
   - event_type (ENUM)
   - created_at (TIMESTAMP)

üóÇ  Ë°®Ôºödatasets
   - id (INTEGER) PK
   - trajectory_id (VARCHAR(255))
   - created_at (TIMESTAMP)
   - used (INTEGER)
   - model_version (VARCHAR(64))
   - run_id (VARCHAR(255))
   - task_id (VARCHAR(255))
   - reward (FLOAT)

üóÇ  Ë°®Ôºöinference_node
   - id (BIGINT) PK
   - pod_name (VARCHAR(50))
   - model_registry_id (BIGINT)
   - status (VARCHAR(20))
   - remark (VARCHAR(255))
   - started_at (TIMESTAMP)
   - updated_at (TIMESTAMP)
   - deleted_at (TIMESTAMP)
   - task_id (VARCHAR(64))

üóÇ  Ë°®Ôºöinference_tasks
   - id (INTEGER) PK
   - task_id (VARCHAR(64))
   - statefulset_base_name (VARCHAR(50))
   - statefulset_name (VARCHAR(100))
   - namespace (VARCHAR(50))
   - batch_size (INTEGER)
   - replicas (INTEGER)
   - gpu_count (INTEGER)
   - loop_interval_seconds (INTEGER)
   - pod_ready_timeout_seconds (INTEGER)
   - graceful_shutdown_timeout (INTEGER)
   - termination_grace_period (INTEGER)
   - created_at (TIMESTAMP)
   - updated_at (TIMESTAMP)
   - deleted_at (TIMESTAMP)
   - status (ENUM)

üóÇ  Ë°®Ôºömodel_registry
   - id (BIGINT) PK
   - task_id (VARCHAR(64))
   - name (VARCHAR(50))
   - version (VARCHAR(255))
   - status (VARCHAR(20))
   - path (VARCHAR(255))
   - source (VARCHAR(50))
   - operator (VARCHAR(50))
   - remark (VARCHAR(1024))
   - config_yaml (TEXT)
   - created_at (TIMESTAMP)
   - updated_at (TIMESTAMP)
   - deleted_at (TIMESTAMP)
   - type (VARCHAR(20))
   - replicas (INTEGER)
   - gpu_per_replica (INTEGER)

üóÇ  Ë°®Ôºörollout_run
   - id (BIGINT) PK
   - run_id (VARCHAR(191) COLLATE "utf8mb4_unicode_ci")
   - trajectory_id (VARCHAR(191) COLLATE "utf8mb4_unicode_ci")
   - task_id (VARCHAR(191) COLLATE "utf8mb4_unicode_ci")
   - trace_id (VARCHAR(191) COLLATE "utf8mb4_unicode_ci")
   - split_dir (VARCHAR(512) COLLATE "utf8mb4_unicode_ci")
   - reward (DOUBLE)
   - num_chunks (INTEGER)
   - used (INTEGER)
   - model_version (VARCHAR(512) COLLATE "utf8mb4_unicode_ci")
   - instruction (VARCHAR(1024) COLLATE "utf8mb4_unicode_ci")
   - create_at (TIMESTAMP)

üóÇ  Ë°®Ôºötrainable_group
   - id (BIGINT)
   - trajectory_id (VARCHAR(191) COLLATE "utf8mb4_unicode_ci") PK
   - task_id (VARCHAR(191) COLLATE "utf8mb4_unicode_ci")
   - reward (DOUBLE)
   - model_version (VARCHAR(191) COLLATE "utf8mb4_unicode_ci")
   - create_at (DATETIME)
   - run_id (VARCHAR(191) COLLATE "utf8mb4_unicode_ci")

üóÇ  Ë°®Ôºöupdate_model_task
   - id (BIGINT) PK
   - checkpoint_id (BIGINT)
   - path (VARCHAR(255))
   - version (VARCHAR(50))
   - type (VARCHAR(20))
   - status (TINYINT)
   - priority (TINYINT)
   - created_at (TIMESTAMP)
   - updated_at (TIMESTAMP)
   - started_at (TIMESTAMP)
   - completed_at (TIMESTAMP)
   - remark (VARCHAR(1024))

üóÇ  Ë°®Ôºörollout_chunk
   - trajectory_id (VARCHAR(191) COLLATE "utf8mb4_unicode_ci")
   - run_id (VARCHAR(191) COLLATE "utf8mb4_unicode_ci")
   - chunk_index (INTEGER)
   - id (BIGINT) PK
   - json_path (VARCHAR(512) COLLATE "utf8mb4_unicode_ci")

In [3]:
# run_id="results/pass16_20250901_train15_pass16_gpu2_env20_vllm_logp_maxstep15"# results/test_for_train_instruction
run_id="results/pass8_20250909_libreoffice_calc_pass8_gpu2_env18_vllm_logp_maxstep30"
with engine.connect() as conn:
    result = conn.execute(text(f"SELECT count(*) ct, avg(num_chunks), model_version FROM `rollout_run` where run_id='{run_id}' group by model_version"))
    rows = result.mappings().all()   # list[dict]Ôºå‰æø‰∫éÂêéÁª≠Â§ÑÁêÜ
print(f"rollout_run ÂÖ± {len(rows)} Ë°å")
# ÂèØÈÄâÔºöËΩ¨Êàê DataFrame Êñπ‰æøÊü•Áúã
import pandas as pd; pd.DataFrame(rows)

rollout_run ÂÖ± 1 Ë°å

  avg(num_chunks)  ct                                      model_version
0         14.8542  48  /capacity/userdata/vcfenxd75jiv/shichenrui/ui_...

In [ ]:
# results/pass16_20250901_train15_pass16_gpu2_env20_vllm_logp_maxstep15

# results/pass16_20250901_train15_pass16_gpu2_env20_vllm_logp_maxstep15

In [ ]:
import pandas as pd

# Êü•Áúãrun_idÂ∑≤ÈááÊ†∑ÁöÑÊï∞ÊçÆ
# run_id="results/test_for_train_pass8_gpu7_env69_20250821_2333" # results/test_for_train_instruction  results/pass@32_trainset90
run_id="results/pass8_20250907_train_acc_lt_0.7_pass8_gpu2_env18_vllm_logp_maxstep15" # results/test_for_train_instruction  results/pass@32_trainset90
with engine.connect() as conn:
    result = conn.execute(text(f"SELECT * FROM `rollout_run` where run_id='{run_id}' order by create_at desc"))
    rows = result.mappings().all()   # list[dict]Ôºå‰æø‰∫éÂêéÁª≠Â§ÑÁêÜ
print(f"rollout_run ÂÖ± {len(rows)} Ë°å")
# ÂèØÈÄâÔºöËΩ¨Êàê DataFrame Êñπ‰æøÊü•Áúã
df = pd.DataFrame(rows)
if "task_id" in df.columns and "reward" in df.columns:
    avg_rewards = df.groupby("task_id")["reward"].mean()
    traj_counts = df.groupby("task_id")["trajectory_id"].nunique()
    summary_df = pd.DataFrame({
        "avg_reward": avg_rewards,
        "traj_count": traj_counts
    })
    print("ÊØè‰∏™ task ÁöÑÁªüËÆ°Ôºö")
    with pd.option_context('display.max_rows', None, 'display.max_columns', None):
        display(summary_df)
else:
    print("Êï∞ÊçÆ‰∏≠Áº∫Â∞ë task_id Êàñ reward Â≠óÊÆµ")


import pandas as pd; pd.DataFrame(rows)

rollout_run ÂÖ± 155 Ë°å
ÊØè‰∏™ task ÁöÑÁªüËÆ°Ôºö

                                      avg_reward  traj_count
task_id
06ca5602-62ca-47f6-ad4f-da151cde54cc    1.000000           2
06fe7178-4491-4589-810f-2e2bc9502122    1.000000           3
0810415c-bde4-4443-9047-d5f70165a697    1.000000           1
0e47de2a-32e0-456c-a366-8c607ef7a9d2    0.000000           1
0f84bef9-9790-432e-92b7-eece357603fb    0.000000           2
12086550-11c0-466b-b367-1d9e75b3910e    1.000000           2
12382c62-0cd1-4bf2-bdc8-1d20bf9b2371    0.000000           5
1334ca3e-f9e3-4db8-9ca7-b4c653be7d17    1.000000           3
13584542-872b-42d8-b299-866967b5c3ef    0.000000           1
15aece23-a215-4579-91b4-69eec72e18da    0.500000           2
1d17d234-e39d-4ed7-b46f-4417922a4e7c    0.500000           2
1e8df695-bd1b-45b3-b557-e7d599cf7597    1.000000           1
227d2f97-562b-4ccb-ae47-a5ec9e142fbb    0.000000           1
23393935-50c7-4a86-aeea-2b78fd089c5c    0.000000           2
2373b66a-092d-44cb-bfd7-82e86e7a3b4d    0.000000           3
2ad9387a-65d8-4e33-ad5b-7580065a27ca    1.000000           1
3299584d-8f11-4457-bf4c-ce98f7600250    1.000000           3
337d318b-aa07-4f4f-b763-89d9a2dd013f    0.000000           5
36037439-2044-4b50-b9d1-875b5a332143    0.000000           1
39be0d19-634d-4475-8768-09c130f5425d    0.000000           2
3aaa4e37-dc91-482e-99af-132a612d40f3    0.000000           1
3f49d2cc-f400-4e7d-90cc-9b18e401cc31    0.000000           2
4172ea6e-6b77-4edb-a9cc-c0014bd1603b    0.000000           2
4188d3a4-077d-46b7-9c86-23e1a036f6c1    0.000000           1
455d3c66-7dc6-4537-a39a-36d3e9119df7    1.000000           1
4d117223-a354-47fb-8b45-62ab1390a95f    1.000000           1
510f64c8-9bcc-4be1-8d30-638705850618    1.000000           1
51b11269-2ca8-4b2a-9163-f21758420e78    1.000000           1
5203d847-2572-4150-912a-03f062254390    0.000000           3
53ad5833-3455-407b-bbc6-45b4c79ab8fb    1.000000           1
554785e9-4523-4e7a-b8e1-8016f565f56a    0.500000           2
58565672-7bfe-48ab-b828-db349231de6b    1.000000           1
6054afcb-5bab-4702-90a0-b259b5d3217c    0.000000           3
6a33f9b9-0a56-4844-9c3f-96ec3ffb3ba2    1.000000           6
70bca0cc-c117-427e-b0be-4df7299ebeb6    0.000000           2
716a6079-22da-47f1-ba73-c9d58f986a38    0.000000           2
72b810ef-4156-4d09-8f08-a0cf57e7cefe    0.000000           1
77b8ab4d-994f-43ac-8930-8ca087d7c4b4    1.000000           6
7efeb4b1-3d19-4762-b163-63328d66303b    0.000000           1
81c425f5-78f3-4771-afd6-3d2973825947    0.500000           2
82279c77-8fc6-46f6-9622-3ba96f61b477    0.000000           1
8ba5ae7a-5ae5-4eab-9fcc-5dd4fe3abf89    0.500000           4
8d9fd4e2-6fdb-46b0-b9b9-02f06495c62f    0.000000           3
9219480b-3aed-47fc-8bac-d2cffc5849f7    1.000000           1
94d95f96-9699-4208-98ba-3c3119edf9c2    0.333333           6
9656a811-9b5b-4ddf-99c7-5117bcef0626    1.000000           2
986fc832-6af2-417c-8845-9272b3a1528b    1.000000           2
9bc3cc16-074a-45ac-9bdc-b2a362e1daf3    0.000000           1
9d425400-e9b2-4424-9a4b-d4c7abac4140    1.000000           2
9f935cce-0a9f-435f-8007-817732bfc0a5    0.000000           1
a10b69e1-6034-4a2b-93e1-571d45194f75    0.000000           1
a434992a-89df-4577-925c-0c58b747f0f4    0.333333           6
a503b07f-9119-456b-b75d-f5146737d24f    0.000000           5
aa3a8974-2e85-438b-b29e-a64df44deb4b    1.000000           2
ac9bb6cb-1888-43ab-81e4-a98a547918cd    0.000000           2
b070486d-e161-459b-aa2b-ef442d973b92    1.000000           4
b337d106-053f-4d37-8da0-7f9c4043a66b    0.000000           2
b6781586-6346-41cd-935a-a6b1487918fc    0.000000           1
c1fa57f3-c3db-4596-8f09-020701085416    1.000000           1
c2751594-0cd5-4088-be1b-b5f2f9ec97c4    0.490031           4
c82632a4-56b6-4db4-9dd1-3820ee3388e4    1.000000           1
da52d699-e8d2-4dc5-9191-a2199e0b6a9b    0.000000           2
e1e75309-3ddb-4d09-92ec-de869c928143    0.907885           1
e2b5e914-ffe1-44d2-8e92-58f8c5d92bb2   -0.333333           3
e2dd0213-26db-4349-abe5-d5667bfd725c    0.000000           2
e4ef0baf-4b52-4590-a47e-d4d464cca2d7    0.000000           1
ec71221e-ac43-46f9-89b8-ee7d80f7e1c5    1.000000           3
edb61b14-a854-4bf5-a075-c8075c11293a    1.000000           1
ee9a3c83-f437-4879-8918-be5efbb9fac7    0.000000           2
f201fbc3-44e6-46fc-bcaa-432f9815454c    1.000000           3
f3b19d1e-2d48-44e9-b4e1-defcae1a0197    0.000000           1
f8cfa149-d1c1-4215-8dac-4a0932bad3c2    0.000000           1

,create_at,id,instruction,model_version,num_chunks,reward,run_id,split_dir,task_id,trace_id,trajectory_id,used
0,2025-09-04 18:03:45,378865,Cross-check the invoices with the bank stateme...,/root/verl/checkpoints/verl_osworld_grpo/oswor...,30,0.0,results/pass8_20250904_train90_pass8_gpu3_env3...,None,337d318b-aa07-4f4f-b763-89d9a2dd013f,trace-8fdb023d124b-1756979455,337d318b-aa07-4f4f-b763-89d9a2dd013f_trace-8fd...,0
1,2025-09-04 18:03:42,378864,Cross-check the invoices with the bank stateme...,/root/verl/checkpoints/verl_osworld_grpo/oswor...,30,0.0,results/pass8_20250904_train90_pass8_gpu3_env3...,None,337d318b-aa07-4f4f-b763-89d9a2dd013f,trace-a64304a52562-1756979455,337d318b-aa07-4f4f-b763-89d9a2dd013f_trace-a64...,0
2,2025-09-04 18:03:30,378862,Create two local folders in Thunderbird for me...,/root/verl/checkpoints/verl_osworld_grpo/oswor...,30,0.0,results/pass8_20250904_train90_pass8_gpu3_env3...,None,a10b69e1-6034-4a2b-93e1-571d45194f75,trace-3dbee589c39c-1756979455,a10b69e1-6034-4a2b-93e1-571d45194f75_trace-3db...,0
3,2025-09-04 18:03:13,378861,Can you assist me in shifting the text box to ...,/root/verl/checkpoints/verl_osworld_grpo/oswor...,30,0.0,results/pass8_20250904_train90_pass8_gpu3_env3...,None,e2dd0213-26db-4349-abe5-d5667bfd725c,trace-e4b7128c35d5-1756979455,e2dd0213-26db-4349-abe5-d5667bfd725c_trace-e4b...,0
4,2025-09-04 18:03:12,378860,Could you assist me in placing my photo on the...,/root/verl/checkpoints/verl_osworld_grpo/oswor...,9,1.0,results/pass8_20250904_train90_pass8_gpu3_env3...,None,77b8ab4d-994f-43ac-8930-8ca087d7c4b4,trace-215e9d8ac61c-1756979890,77b8ab4d-994f-43ac-8930-8ca087d7c4b4_trace-215...,0
...,...,...,...,...,...,...,...,...,...,...,...,...
150,2025-09-04 17:34:08,378495,"Change the font size of the content to 12, and...",/root/verl/checkpoints/verl_osworld_grpo/oswor...,13,1.0,results/pass8_20250904_train90_pass8_gpu3_env3...,None,a434992a-89df-4577-925c-0c58b747f0f4,trace-5da0c7bbdddb-1756978296,a434992a-89df-4577-925c-0c58b747f0f4_trace-5da...,0
151,2025-09-04 17:33:59,378494,"Create a new sheet named ""Sheet2"" and merge ce...",/root/verl/checkpoints/verl_osworld_grpo/oswor...,10,1.0,results/pass8_20250904_train90_pass8_gpu3_env3...,None,1d17d234-e39d-4ed7-b46f-4417922a4e7c,trace-66f17f58df15-1756978296,1d17d234-e39d-4ed7-b46f-4417922a4e7c_trace-66f...,0
152,2025-09-04 17:33:53,378492,Can you make the video fill up the whole scree...,/root/verl/checkpoints/verl_osworld_grpo/oswor...,3,0.0,results/pass8_20250904_train90_pass8_gpu3_env3...,None,8d9fd4e2-6fdb-46b0-b9b9-02f06495c62f,trace-fb9bb52f4ab2-1756978296,8d9fd4e2-6fdb-46b0-b9b9-02f06495c62f_trace-fb9...,0
153,2025-09-04 17:33:53,378493,Can you make the video fill up the whole scree...,/root/verl/checkpoints/verl_osworld_grpo/oswor...,3,0.0,results/pass8_20250904_train90_pass8_gpu3_env3...,None,8d9fd4e2-6fdb-46b0-b9b9-02f06495c62f,trace-9c93101af74b-1756978296,8d9fd4e2-6fdb-46b0-b9b9-02f06495c62f_trace-9c9...,0
154,2025-09-04 17:33:14,378486,Please help me increase the indent of line 2 t...,/root/verl/checkpoints/verl_osworld_grpo/oswor...,5,1.0,results/pass8_20250904_train90_pass8_gpu3_env3...,None,ec71221e-ac43-46f9-89b8-ee7d80f7e1c5,trace-088426aa8f19-1756978296,ec71221e-ac43-46f9-89b8-ee7d80f7e1c5_trace-088...,0

In [8]:
# Êü•Áúãrun_idÂ∑≤‰øùÂ≠òÁöÑcheckpoints
run_id="results/pass16_20250902_train90_pass16_gpu2_env20_vllm_logp_maxstep50" # results/test_for_train_instruction  results/pass@32_trainset90
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM `checkpoint` where run_id = '{run_id}' "))
    rows = result.mappings().all()   # list[dict]Ôºå‰æø‰∫éÂêéÁª≠Â§ÑÁêÜ
print(f"checkpoint ÂÖ± {len(rows)} Ë°å")
# ÂèØÈÄâÔºöËΩ¨Êàê DataFrame Êñπ‰æøÊü•Áúã
print(rows[0])
import pandas as pd; pd.DataFrame(rows).head()

checkpoint ÂÖ± 0 Ë°å

IndexError: list index out of range


# ‰ªérollout_run‰∏≠Âà†Èô§Êüêrun_idÁöÑÊï∞ÊçÆ
run_id="results/test_for_train_pass8_gpu7_env69_20250821_2333"
with engine.begin() as conn:
    will = conn.execute(
        text("SELECT COUNT(*) FROM `rollout_run` WHERE `run_id` = :rid"),
        {"rid": run_id}
    ).scalar_one()
    print(f"Â∞ÜÂà†Èô§ {will} Ë°åÔºàrun_id = {run_id}Ôºâ")

    res = conn.execute(
        text("DELETE FROM `rollout_run` WHERE `run_id` = :rid"),
        {"rid": run_id}
    )
    print(f"‚úÖ Â∑≤Âà†Èô§ {res.rowcount} Ë°å")

In [19]:
# run_id="results/test_for_train_pass8_gpu8_env77_20250817_1345"
with engine.connect() as conn:
    cnt = conn.execute(
        text("""
            SELECT COUNT(*) FROM `rollout_run`
            WHERE `run_id` = :{run_id} AND `used` != 0
        """),
        {"rid": run_id},
    ).scalar_one()
print(f"Á°ÆËÆ§ used!=0 ÁöÑË°åÊï∞Ôºö{cnt}")

with engine.begin() as conn:
    res = conn.execute(
        text("""
            UPDATE `rollout_run`
            SET `used` = 0
            WHERE `run_id` = :{run_id}
        """),
        {"rid": run_id},
    )
    print(f"‚úÖ Êõ¥Êñ∞Ë°åÊï∞: {res.rowcount}")

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ':{run_id} AND `used` != 0' at line 2")
[SQL:
            SELECT COUNT(*) FROM `rollout_run`
            WHERE `run_id` = :{run_id} AND `used` != 0
        ]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
# Êõ¥Êñ∞used = 0 Êï∞ÊçÆÁöÑmodel version
run_id="results/pass@32_trainset90"
model_version = "/workspace/computer-use/verl/checkpoints/verl_osworld_grpo/osworld_all_feasible_reward_script_grpo_k8s_0813_h8zdohoq/global_step_10/actor/huggingface"
model_version = "/capacity/userdata/vcfenxd75jiv/shichenrui/ui_tars/ByteDance-Seed/UI-TARS-1.5"
with engine.connect() as conn:
    cnt, sample = conn.execute(
        text("""
            SELECT COUNT(*) AS cnt, MAX(`model_version`) AS sample_version
            FROM `rollout_run`
            WHERE `run_id` = :rid AND `used` = 0
        """),
        {"rid": run_id},
    ).one()
print(f"used=0 ÁöÑÂâ©‰ΩôË°åÊï∞: {cnt}ÔºåÁ§∫‰æãÁâàÊú¨: {sample}")

with engine.begin() as conn:
    res = conn.execute(
        text("""
            UPDATE `rollout_run`
            SET `model_version` = :mv
            WHERE `run_id` = :rid AND `used` = 0
        """),
        {"mv": model_version, "rid": run_id},
    )
    print(f"‚úÖ Êõ¥Êñ∞Ë°åÊï∞: {res.rowcount}")

In [ ]:
# ÁªüËÆ°run_id validation ÁªìÊûú

import numpy as np
import json
import pandas as pd
# val_trainset90_px_08220031_step10
# run_ids = ["results/val_train150_uitars_maxstep50", 
#            "results/val_trainset90_px_08220031_step10", 
#            "results/val_trainset90_px_08220031_step20", 
#            "results/val_trainset90_px_08220031_step30", 
#            "results/val_trainset90_px_08220031_step35",
#            "results/val_trainset90_px_08220031_step40"]
run_ids = ["results/pass16_20250825_train15_pass16_gpu4_env36_kl"]

with open("../evaluation_examples/test_trainset_15.json", "r", encoding="utf-8") as f:
    mapping = json.load(f)
eval_task_ids = set()
for _, lst in mapping.items():
    eval_task_ids.update(lst)
    
placeholders = ", ".join([f":id{i}" for i in range(len(run_ids))]) or ":id0"
sql = text(f"""
    SELECT reward, run_id, task_id
    FROM rollout_run
    WHERE run_id IN ({placeholders})
""")
params = {f"id{i}": rid for i, rid in enumerate(run_ids)} or {"id0": None}

with engine.begin() as conn:
    df = pd.read_sql(sql, conn, params=params)

def agg_by_run_id(df: pd.DataFrame) -> pd.DataFrame:
    x = df["reward"].fillna(0)
    reward_non_neg1 = np.where(x.eq(-1), 0, x).astype(float)

    df_calc = pd.DataFrame({
        "run_id": df["run_id"].values,
        "reward_non_neg1": reward_non_neg1
    })

    total_rows = df_calc.groupby("run_id").size().rename("total_rows")
    total_score = df_calc.groupby("run_id")["reward_non_neg1"].sum().rename("total_score")

    result = (
        pd.concat([total_rows, total_score], axis=1)
        .assign(success_rate=lambda d: d["total_score"] / d["total_rows"])
        .reset_index()
        .sort_values("run_id")
    )
    return result

df_subset = df[df["task_id"].isin(eval_task_ids)]
result_subset = agg_by_run_id(df).rename(columns={
    "metric": "metric_subset",
    "total_score": "total_score",
    "total_rows": "total_rows_subset",
})

result_subset

In [22]:
result_subset = agg_by_run_id(df_subset).rename(columns={
    "metric": "metric_subset",
    "total_score": "total_score",
    "total_rows": "total_rows_subset",
})
result_subset

NameError: name 'agg_by_run_id' is not defined